flows(1).json
[{"id":"6efcb1d5.c6edf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"faf0faeb.2d30c8","type":"function","z":"6efcb1d5.c6edf","name":"input parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["262cbbd2.002124","deccf349.5742"]]},{"id":"21bf9c91.0c61e4","type":"ui_form","z":"6efcb1d5.c6edf","name":"","label":"","group":"66e4fcf7.324244","order":1,"width":4,"height":2,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":107.5,"y":302,"wires":[["faf0faeb.2d30c8"]]},{"id":"9618e396.a647f8","type":"function","z":"6efcb1d5.c6edf","name":"parsing","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["5c0eb6cf.ae3b88"]]},{"id":"6aeea7b9.c7d4b","type":"debug","z":"6efcb1d5.c6edf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":40,"wires":[]},{"id":"5c0eb6cf.ae3b88","type":"ui_text","z":"6efcb1d5.c6edf","group":"cb84a2a.50350e","order":3,"width":4,"height":"10","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":770,"y":260,"wires":[]},{"id":"262cbbd2.002124","type":"watson-conversation-v1","z":"6efcb1d5.c6edf","name":"","workspaceid":"fd2831fd-9541-4263-bfd5-c78a0255b7ef","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/63823207-5658-4275-ba94-496a8809a0b8","timeout":"","optout-learning":false,"x":360,"y":120,"wires":[["9618e396.a647f8","6aeea7b9.c7d4b"]]},{"id":"deccf349.5742","type":"ui_text","z":"6efcb1d5.c6edf","group":"cb84a2a.50350e","order":1,"width":4,"height":1,"name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":480,"y":320,"wires":[]},{"id":"66e4fcf7.324244","type":"ui_group","z":"","name":"Ask me","tab":"cbc62683.c33018","order":1,"disp":true,"width":4,"collapse":false},{"id":"cb84a2a.50350e","type":"ui_group","z":"","name":"Conversation","tab":"cbc62683.c33018","order":2,"disp":true,"width":4,"collapse":false},{"id":"cbc62683.c33018","type":"ui_tab","z":"","name":"Customer help desk","icon":"dashboard","order":2,"disabled":false,"hidden":false}]